$s0: 0;
$s1: 0.25rem; // 4px
$s2: 0.5rem; // 8px
$s2-5: 0.625rem; // 10px
$s3: 0.75rem; // 12px
$s3-5: 0.875rem; // 14px
$s4: 1rem; // 16px
$s4-5: 1.125rem; // 18px
$s5: 1.25rem; // 20px
$s5-5: 1.375rem; // 22px
$s6: 1.5rem; // 24px
$s8: 2rem; // 32px
$s10: 2.5rem; // 40px
$s12: 3rem; // 48px
$s16: 4rem; // 64px
$s20: 5rem; // 80px
$s24: 6rem; // 96px
